.popup__close {
  background-image: url(../../../images/popup__close.svg);
  width: 32px;
  height: 32px;
  transition: 0.3s ease-in-out;
}
.popup__close:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
